body, html, .App {
  background-color: #253441;
}

.bg-color1 {
  background-color: #010101;
}

.logo-timer {
  width: 58px;
}

.nav-link-component {
  text-decoration: none;
}

.nav-text {
  font-size: 1.2rem;
}

.section-container {
  height: 80vh;
}

.btns-clock {
  width: 10rem;
}

.footer-container {
  border-top: 1px solid white;
}

@media screen and (max-width: 320px) {
  .btns-clock {
    width: 7rem;
  }
}
