body, html, .App {
  background-color: #253441;
}

.bg-color1 {
  background-color: #010101;
}

.logo-timer {
  width: 58px;
}

.nav-link-component {
  text-decoration: none;
}

.nav-text {
  font-size: 1.2rem;
}

.section-container {
  height: 80vh;
}

.btns-clock {
  width: 10rem;
}

#modal:empty {
  display: none;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal > div {
  background-color: white;
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #faeff0;
}

.footer-container {
  border-top: 1px solid white;
}

.timer-text {
  font-size: 8rem;
}

@media screen and (max-width: 320px) {
  .btns-clock {
    width: 7rem;
  }
}
